/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#interface_container{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, grey, 3, 0, 0, 0);
}

#interface_container:hover{
    -fx-effect: dropshadow(three-pass-box, grey, 6, 0, 0, 0);
}

#btnmodifierarticle{
    -fx-image: url("../Assets/edit.png");
}

#btnmodifierarticle:hover{
       -fx-image: url("../Assets/edit_hover.png");
}
#deleteArticleIv{
    -fx-image: url("../Assets/delete_article.png");
}

#deleteArticleIv:hover{
    -fx-image: url("../Assets/delete_article_hover.png");
}

#articleDetails{
    -fx-image: url("../Assets/information.png");
}
#articleDetails:hover{
    -fx-image: url("../Assets/information_hover.png");
}
