/*
 * Empty Stylesheet file.
 */


#boutiqueItemAnchorContainer{
   
}

#AnchorContainerItem{
    -fx-background-color: white;
    -fx-border-style: none;
}
#AnchorContainerItem:hover{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, grey, 6, 0, 0, 0);
}