/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#inscription_btnconnect{
    
    -fx-background-color: #F1687D;
    -fx-text-fill: white;
}

#inscription_btnconnect:hover{
    -fx-background-color: #D65266;
    -fx-text-fill: white;
}

#inscription_btnconnect{
    -fx-background-color: #F1687D;
    -fx-text-fill: white;
}

#inscription_btnconnect:hover{
    -fx-background-color: #D65266;
    -fx-text-fill: white;
}