/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#loginParent{
    -fx-background-color: "#F5F5F5";
}

#loginContainer{
    -fx-effect: dropshadow(three-pass-box, grey, 6, 0, 0, 0);
}

 #login_mailTf {

    -fx-prompt-text-fill: #F1687D;
 }

#login_passTf {
    -fx-prompt-text-fill: #F1687D;

}

#login_btnconnect{
    -fx-background-color: #F1687D;
    -fx-text-fill: white;
}

#login_btnconnect:hover{
    -fx-background-color: #D65266;
    -fx-text-fill: white;
}

#inscription_btnconnect{
    -fx-background-color: #F1687D;
    -fx-text-fill: white;
}

#inscription_btnconnect:hover{
    -fx-background-color: #D65266;
    -fx-text-fill: white;
}