/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#scrolpaneboutiques{
    -fx-background-color:transparent;
    -fx-vbar-policy : never;
    -fx-effect: dropshadow(three-pass-box, grey, 2, 0, 0, 0);

}

#scrolpanearticles{
    -fx-background-color:transparent;
}

#flowpaneboutiques{ 
  
}

#flowpanearticles{
    -fx-padding: 5px;
}

#labnbr_event{
    -fx-effect: dropshadow(three-pass-box, grey, 6, 0, 0, 0);
    -fx-background-radius : 50px;
    -fx-border-radius : 50px;
    -fx-color : #FFFFFF;
    -fx-background-color:transparent;
}


#interfaceUserNavBar{
    -fx-effect: dropshadow(three-pass-box, grey, 6, 0, 0, 0);
}